<div class="card" style="width: 18rem;">
  <img src="https://99px.ru/sstorage/53/2018/05/tmb_228124_460931.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Esdeath</h5>
    <p class="card-text">Oh my God, I am lose my mind</p>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">KEK</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">KEK</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/login">Login</button>
    Login or register first, then you may do smth...
  </div>
</div>
