<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Выполнил:<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Окладников К.К.
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="https://vk.com/npo100_urpok" target="_blank">VK</a>
        <a class="dropdown-item" href="https://www.youtube.com/channel/UCXM_9GjMumATm9hlkIE28Jg" target="_blank">YouTube</a>
        <a class="dropdown-item" href="https://yummyanime.club/users/id560778" target="_blank">YummyAnime</a>
        <a class="dropdown-item" href="https://pikabu.ru/@kekasik" target="_blank">Pikabu</a>
      </div>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">|<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Группа:<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">P3212</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">|<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Вариант:<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">13444</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">|<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Дата и время:<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="clock">
        <span>DD</span>.<span>MM</span>.<span>YYYY</span>
        <br/>
        <span>hh</span>:<span>mm</span>:<span>ss</span>
      </li>
    </ul>
  </div>
</nav>
